body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fffaf3;
  color: #333;
}

header {
  background-color: #800000;
  color: #fff;
  text-align: center;
  padding: 15px;
}
.logo {
  height: 65px;
  width: auto;
}

@media (max-width: 768px) {
  .logo {
    height: 45px;
  }
}
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover, nav a.active {
  text-decoration: underline;
}

.hero {
  height: 90vh;
  background: url('saree7.jpeg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
  
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 25px;
}
.btn {
  background: linear-gradient(45deg, gold, #ffcc00);
  padding: 12px 30px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background: white;
  color: #8b0000;
  transform: scale(1.05);
}
.content {
  padding: 40px 20px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #800000;
  color: #fff;
  text-align: center;
  padding: 15px;
}
img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
  background-color: #fff8f0;
}

.gallery img {
  width: 300px;
  height: 380px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: 0.4s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}
.contact-section {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to right, #fff8f0, #fdf2e9);
}

.contact-section h2 {
  color: #8b0000;
  margin-bottom: 30px;
}

.contact-box {
  background: white;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-box p {
  margin-bottom: 20px;
}

.location {
  font-weight: bold;
  color: #8b0000;
}
nav a.active {
  color: gold;
  font-weight: bold;
}